# R specific files to ignore
.Rproj.user
heater.Rproj
.Rhistory
.RData
.Ruserdata
.DS_store

# Directories with large data files
scratch/*
data/raw/seq/*
data/processed/seq/*


# Specific files extensions to ignore
*.out

